#root {
  text-align: center;
  margin: 0 auto;
}

/* Font config */
* {
  font-family: "Visby" !important;
}

@font-face {
  font-family: "Visby";
  font-weight: 100;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Thin.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 200;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Light.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 300;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Regular.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 400;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Medium.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 500;
  src: local("Visby"), url(./assets/fonts/VisbyCF-DemiBold.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 600;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Bold.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 700;
  src: local("Visby"), url(./assets/fonts/VisbyCF-ExtraBold.otf);
}
@font-face {
  font-family: "Visby";
  font-weight: 800;
  src: local("Visby"), url(./assets/fonts/VisbyCF-Heavy.otf);
}
